{% extends "acount/padre.html" %}
{% load static %}

{% block inicio %}
<section class="py-5">
    <div class="container d-flex justify-content-center my-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 justify-content-center">
                <h2>Posty</h2>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container d-flex justify-content-center my-5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2></h2>
                <p class="lead">Proyecto final de Python</p>
                <p class="mb-0">Web tipo Blog </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

