{% extends "acount/padre.html" %}
{% load static %}
{% block inicio %}
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Full Width Pics</h1>
                <p class="text-white-50 mb-0">Landing Page Template</p>
            </div>
        </header>
    {% if mensaje %}
    <div class="row">
        <p style="color:rgb(0, 17, 255)">{{mensaje}}</p>
    </div>
    {% endif %}

{% endblock %}